.logo {
  display: block;
  width: 200px;
  margin-left: 565px;
}
#h2 {
  margin-left: 480px;
}
.text {
  margin-left: 200px;
  font-weight: 300;
}
.number{
  margin-left: 445px;
}
.t2{
  margin-left: 37px;
}
.t3{
  margin-left: 615px;
}
.t4{
  margin-left: 90px;
}
.it2{
  margin-left: 31px;
}
.it3{
  margin-left: 20px;
}
.it4{
  margin-left: 9px;
}
.it5{
  margin-left: 30px;
}
#sbmt{
  margin-left: 607px;
}
#s1{
  margin-left: 140px;
}
#s2{
  margin-left: 12px;
}
#inpt1 {
  margin-left: 150px;
}
#inpt2 {
  margin-left: 152px;
}
#inpt3 {
  margin-left: 125px;
}
#inpt4 {
  margin-left: 170px;
}
#inpt5 {
  margin-left: 105px;
}
#inpt6 {
  margin-left: 175px;
}
#inpt7 {
  margin-left: 170px;
}
#inpt8 {
  margin-left: 205px;
}
#inpt9 {
  margin-left: 170px;
}
#inpt10 {
  margin-left: 195px;
}
#inpt11 {
  margin-left: 165px;
}
#inpt12 {
  margin-left: 450px;
}
#clh1{
  margin-left: 120px;
}
#clh2{
  margin-left: 60px;
}
#clh3{
  margin-left: 120px;
}
#clh4{
  margin-left: 90px;
}